
html, body{
    font-family: 'Work Sans', sans-serif;
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
    

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

.content{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 9fr;
    background-color: white;
}



.header-left{
    grid-column: 1/10;
    grid-row: 1;
    background-color: rgb(47,85,151);
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    color: white;
}

.profile-icon{
    grid-column: 10/11;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(47,85,151);

}
.profile-img{
    width: 50px;
    height: 50px;
}

.dropdown-content{
    grid-column: 1/3;
    grid-row: 2/10;
    background-color: rgb(201,201,201);
    display:flex;
    flex-direction: column;
    padding-top:15px;
    gap: 20px;
    

    
}

a:hover{
    cursor: pointer;
    background-color:rgb(83, 83, 77);
}



a{  
    background-color:rgb(201,201,201);
    font-size: 30px;
    /*border: 1px solid rgb(201,201,201);*/
    /*padding-top: 20px;*/
    color:white;
    text-decoration: none;
    text-align: left;
    vertical-align:middle;
    padding-left:15px;
    

    
}

.dropdown-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.dropdown-container{
    cursor: pointer;
    
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }


  .middle{
      grid-column:2/10;
      grid-row:2/10;
      background-color:blue;
  }




